*{box-sizing: border-box}

.col-1{ width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width:91.66%; }
.col-12{width: 100%;}

[class*='col-']{
    float: left;

    border: 1px solid;}

.row:after{
    content: '';
    clear: both;
    display: block;
}

.wrapper{
    width: 80%;
    height: auto;
    margin: 0 auto;
}
.header-height { height: 200px;}
.menu-height { height: 50px;}
.content-height { height: 600px;}
.big-footer-height { height: 250px;}
.footer-height { height: 40px;}

.div-one{
    height: 100px;
    width: 10px;
    background-color: blueviolet;
    margin: 50px 0 0 50px;
    /*border-radius: 100px 0px 0px 0px ;*/
    transform: skew(-30deg);
    float: left;
    /*border: 30px ridge rebeccapurple;*/
    /*border-right: none;*/
    /*border-radius: 0px 100px 100px 0px;*/
}
.div-two{
    height: 100px;
    width: 10px;
    background-color: blueviolet;
    margin: 50px 0 0 50px;
    transform: skew(30deg);
    float: left;

}
/*.div-three{*/
    /*height: 10px;*/
    /*width: 70px;*/
    /*background-color: blueviolet;*/
    /*margin: 100px 0 0 -70px;*/
    /*float: left;*/

/*}*/
.div-four{
    height: 100px;
    width: 10px;
    background-color: red;
    margin: 50px 0 0 50px;
    float: left;

}
.div-five{
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 50px 0 0 50px;
    float: left;
    border-radius: 0px 10px 10px 0px;
}

